<template lang="pug">
.hello
	h1 {{ msg }}

	h2 Cloned in San Pavlov 2018
	H3 Vue Material With Webpack
	h4
		i.fa.fa-street-view.fa-5x
</template>

<script>
export default {
	name: 'FutureFive',
	data () {
		return {
			msg: 'Adeus, Mundo Imundo'
		}
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
	font-weight: normal;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	display: inline-block;
	margin: 0 10px;
}
a {
	color: #42b983;
}
</style>
