<template lang="pug">
.hello
	img(src='../assets/biohazard.svg', width='175px')
	h1 {{ msg }}
	h2 Cloned in San Pavlov 2018
	h3 Vue Material With Webpack
	md-button.md-raised.md-primary
		i.fa.fa-gears.fa-2x
		| &nbsp; O Mecanismo
	blockquote «Time keeps on slipping<br> slipping slipping<br> into the future»
</template>

<script>
export default {
	name: 'HelloWorld',
	data () {
		return {
			msg: 'Adeus, Mundo Imundo'
		}
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.hello {
	min-height: 100vh;
	text-align: justify;
	text-align-last: center;
	padding: 50px;
}

h1, h2 {
	font-weight: normal;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	display: inline-block;
	margin: 0 10px;
}
a {
	color: #42b983;
}
</style>
